body {
  font-family: times-new-roman;
  color: #62979d;
  background-color: #62979d;
}
a {
  color: #62979d;
}
#sfn {
  padding: 10px;
}
#detail {
  padding-bottom: 10px;
}
#sfnButton {
  padding: 3px;
}
* {
  margin: auto;
  text-align: center;
}
#header {
  padding-top:  25%;
  padding-bottom: 20px;
}
